/* mettre en full screen */

.container-views-admin.remove-border-radius{
    border-top-left-radius: 0;
    height: 100%;
    padding-top: 0;
    /* background-color: rgb(187, 211, 211); */
}

.sidebar-page-admin.hide{
    position: absolute;
    top: 0;
    left: -320px;
    width: 272px !important;
}

.sidebar-page-admin.open{
    left: 0;
    
}

.menu-button-toggle.show{
    display: inline-block;
}

.topBar-item-section.reduce-padding, .searchBar.reduce-padding{
    padding: 0 10px !important;
}

.topBar-page-admin.toggleable{
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 11;
    transition: top 0.2s ease-in-out;
}

.topBar-page-admin.toggleable.show{
    top: 0;
}

.button-toggle-top-bar{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    transition: top 0.2s ease-in-out;
    z-index: 1000;
    padding: 1px 15px;
    font-size: 0.5rem;
    border: 0;
    background-color: rgba(0, 0, 0, 0.185);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-toggle-top-bar.fall{
    top: 60px;
}

.container-views-admin.dismiss-padding{
    padding: 0;
}

/* mettre en full screen */

.subjects{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--main-bg-color);
}

.subjects .first-section{
    height: 100%;
    width: 350px;
    background-color: #ffffff;
    position: relative;

    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-right: 1px solid rgba(29, 25, 51, 0.336);

}

.subjects .first-section .add-room-button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(231, 114, 36);
    color: white;
    border-radius: 50%;
    z-index: 5;
}

.subjects .first-section .add-room-button:hover{
    background-color: rgb(194, 99, 35);
}

.subjects .first-section .add-room-button .fa-down-long{
    position: absolute;
    top: -25px;
    left: 13px;
    font-size: 1.2rem;
    color: black;
}



.subjects .first-section .top-tiny-bar{
   height: 60px;
}

.subjects .first-section .top-tiny-bar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;
}

.subjects .first-section .search-room{
    margin-top: 15px;
    background-color: var(--main-bg-color);
    border-radius: 7px;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 0.8rem;
    color: white;
}

.subjects .first-section .search-room input{
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 0.8rem;
    color: white;
    width: 100%;
    
}

.subjects .first-section .liste-rooms{
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

/* .subjects .first-section .liste-rooms::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.subjects .first-section .liste-rooms::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
} */

.subjects .first-section .liste-rooms::-webkit-scrollbar {
    width: 0px; /* width of the entire scrollbar */
}

.subjects .first-section .liste-rooms::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

.subjects .first-section .liste-rooms::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 2px solid rgb(218, 218, 218); /* creates padding around scroll thumb */
}

.subjects .first-section .liste-rooms .liste-rooms-item{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgb(209, 209, 209);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    /* background-color: rgb(255, 230, 206); */
}

.subjects .first-section .liste-rooms .liste-rooms-item:hover{
    background-color: rgb(255, 248, 240);
}

.subjects .first-section .liste-rooms .liste-rooms-item.active{
    background-color: bisque;
}

.subjects .first-section .liste-rooms .liste-rooms-item.active::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0;
    top: 0;
    background-color: rgb(231, 114, 36);
}

.subjects .first-section .liste-rooms .liste-rooms-item h6{
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subjects .first-section .liste-rooms .liste-rooms-item p{
    font-size: 0.8rem;
    margin: 0;
    color: rgb(66, 66, 66);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.subjects .first-section .liste-rooms .liste-rooms-item img{
   width: 45px;
   height: 45px;
   border-radius: 50%;
    
}



.subjects .second-section{
    height: 100%;
    width: calc(100% - 350px);
    background-color: var(--main-bg-color);
    overflow: hidden;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}


.section-chat{
    width: 100%;
    height: 100%;
}

.section-chat .chat-open{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.section-chat .chat-open-conversation{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('../../images/backgroundchat.jpeg');
}



.section-chat .chat-open-conversation .chat-top-bar{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 2px solid rgba(29, 25, 51, 0.336);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-cover{
    padding: 4px;
    padding-right: 15px;
    /* background-color: var(--main-bg-color); */
    border-radius: 45px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* color: white; */
    /* border: 1px solid rgb(202, 202, 202); */
    font-size: 0.9rem;
}

.top-cover img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.top-cover h6{
    font-size: 0.9rem;
    margin: 0;
}

.top-cover span{
    font-size: 0.65rem;
}

.top-cover i{
    font-size: 0.9rem;
    position: relative;
    top: 2px;
}

/* .chat-top-bar .btns{
    
} */



.chat-top-bar .btns .btn{
    font-size: 1.1rem;
    transition: all ease-in-out 0.2s;
    
}

.chat-top-bar .btns .btn:hover{
    color: rgb(88, 88, 88);
}


.section-chat .chat-open-conversation .chat-body{
    flex-grow: 1;
    height: min-content;
    position: relative;
    /* background-image: url('../../images/backgroundchat.jpeg'); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 0;
}


.section-chat .chat-open-conversation .chat-body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.438);
    
}


.section-chat .chat-open-conversation .chat-body .section-messages{
    
    z-index: 5;
    /* display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;*/
    padding-top: 36px;
    overflow-y: scroll;

    
}

.section-chat .chat-open-conversation .chat-body .section-messages::-webkit-scrollbar {
    width: 0px; /* width of the entire scrollbar */
}

.section-chat .chat-open-conversation .chat-body .section-messages::-webkit-scrollbar-track {
    background: rgb(218, 218, 218); /* color of the tracking area */
}

.section-chat .chat-open-conversation .chat-body .section-messages::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 2px solid transparent;
}

.section-chat .chat-open-conversation .chat-body .section-messages .time{
    font-size: 0.6rem;
    font-weight: 0;
    margin-left: 25px;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant{
    display: flex;
    gap: 8px;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    
    border-radius: 50%;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant > div{
    max-width: 60%;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container{
    background-color:rgb(236, 171, 127);
    /* max-width: 60%; */
    width: fit-content;
    
    font-size: 0.9rem;
    display: flex;
    align-items: end;
    margin-bottom: 15px;
    /* border-top-left-radius: 0 !important; */
    position: relative;
    
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .coin{
    color: rgb(236, 171, 127) !important;
    position: absolute;
    top: 0;
    left: -7px;
    
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant{
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .name,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .name{
    font-size: 0.7rem;
    color: rgb(87, 87, 87);
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .response-section,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .response-section{
    font-size: 0.75rem;
    font-style: italic;
    cursor: pointer;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .response-section .response,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .response-section .response{
    font-size: 0.75rem;
    font-style: italic;
    margin-left: 15px;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .response-section .response-name,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .response-section .response-name{
    font-size: 0.70rem;
    font-style: italic;
    font-weight: bold;
    margin-left: 15px;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container{
    background-color: rgb(8, 43, 82);
    color: white;
    max-width: 60%;
    
    font-size: 0.9rem;
    display: flex;
    align-items: end;
    margin-bottom: 15px;
    /* border-top-right-radius: 0 !important; */
    position: relative;
}


.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .section-message-option,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .section-message-option{
    position: absolute;
    top: 50%;  /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    color: rgb(107, 107, 107);
    font-size: 0.8rem;
    opacity: 1;
    background-color: black;
    width: 0;
    z-index: 503;
}

 .section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .section-message-option .btn-option,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .section-message-option .btn-option{
    display: none;
} 


.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .section-message-option{
    right: 5px;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .section-message-option{

    left: -25px;

}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .btn-option:hover,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .btn-option:hover{
    color: black;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .btn-option:active,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .btn-option:active{
    border: 0;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .section-message-option .message-options,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .section-message-option .message-options{
    position: absolute;
    bottom: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .section-message-option .message-options.show,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .section-message-option .message-options.show{
    display: block;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .section-message-option .message-options{
    left: 18px;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .section-message-option .message-options{
    right: -10px;
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .section-message-option .message-options button,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .section-message-option .message-options button{
    display: flex;
    border: 0;
    padding: 5px 15px 5px 10px;
    width: 100%;
    align-items: center;
    gap: 10px;
    background-color: white;
    
}

.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .section-message-option .message-options button:hover,
.section-chat .chat-open-conversation .chat-body .section-messages .message-entrant .message-container .section-message-option .message-options button:hover{
    
    background-color: rgb(226, 226, 226);
    
}



.section-chat .chat-open-conversation .chat-body .section-messages .message-sortant .message-container .coin{
    color: rgb(8, 43, 82) !important;
    position: absolute;

    top: 0;
    right: -8px;
}

.section-chat .chat-open-conversation .chat-body .section-messages .sentence-info{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.section-chat .chat-open-conversation .chat-body .section-messages .sentence-info > div{
    background-color: rgb(169, 188, 209);
    width: fit-content;
    padding: 6px 60px;
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    font-weight: bold;
}

.section-chat .chat-open-conversation .chat-body .section-messages .sentence-entete{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-chat .chat-open-conversation .chat-body .section-messages .sentence-entete > div{
    background-color: #d6d6d6;
    z-index: 500;
    width: fit-content;
    padding: 4px 10px;
    color: rgb(59, 59, 59);
    font-size: 0.7rem;
    font-weight: bold;
}

.section-chat .chat-open-conversation .chat-body .section-messages .sentence-entete > .line{
   width: 100%;
   z-index: 499;
   height: 1px;
   position: absolute;
   top: 50%;  /* à 50%/50% du parent référent */
   background-color: rgba(0, 0, 0, 0.178);
   padding: 0;
}




.section-chat .chat-open-conversation .chat-bottom-bar{
    width: 100%;
    height: auto;
    min-height: 60px;
    max-height: 200px;
    /* background-color: #eff3f6; */
    /* border-top: 2px solid rgb(202, 202, 202); */
    display: flex;
    justify-content: end;
    
}

.section-chat .chat-open-conversation .chat-bottom-bar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.438);
    
}

.chat-bottom-bar .chat-input-section{
    z-index: 500;
    background-color: var(--main-bg-color);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.chat-bottom-bar .chat-input-section .chat-input{
    display: flex;
    width: 100%;
    align-items: end;
    gap: 5px;
    position: relative;
}

.chat-bottom-bar .chat-input-section .chat-input-response p{
    font-size: 0.9rem;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.chat-bottom-bar .chat-input-section .chat-input-response span{
    font-size: 0.7rem;
    font-style: normal;
    color: #a3a3a3;
}

.chat-bottom-bar textarea{
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
    border: 0;
    font-size: 0.9rem;
    /* height: min-content; */
    resize: none;
    max-height: 173px;
    margin-bottom: 8px;
}

.chat-bottom-bar textarea::-webkit-scrollbar {
    width: 2px; /* width of the entire scrollbar */
}

.chat-bottom-bar textarea::-webkit-scrollbar-track {
    background: gray; /* color of the tracking area */
}

.chat-bottom-bar textarea::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 2px solid rgb(218, 218, 218);
}

.chat-bottom-bar .chat-input-section button{
    color: white;
    height: min-content;
    
}

.chat-bottom-bar .chat-input-section .btn-send{
    color: white;
    background-color: rgb(231, 114, 36);
}

.emoji-section{
    /* position: absolute; */
    z-index: 501;
    bottom: 2px;
    /* width: 300px; */
    font-size: 0.9rem;
}

.emoji-section .epr_-kg0voo {
    display: none;
}


.epr_-6npj90 {
    --epr-emoji-size: 22px !important;
    --epr-category-navigation-button-size: 22px !important;
    --epr-search-input-height: 32px !important;
}

.epr_-xuzz9z {
    font-size: 0.9rem !important;
}

.epr_qyh4cg {
    display: none !important;
}

.epr-body::-webkit-scrollbar {
    width: 2px; /* width of the entire scrollbar */
}

.epr-body::-webkit-scrollbar-track {
    background: rgb(221, 221, 221); /* color of the tracking area */
}

.epr-body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 2px solid rgb(139, 139, 139);
}

.section-chat .section-medias{
    width: 0px;
    height: 100%;
    background-color: white;
    border-left: 1px solid rgba(29, 25, 51, 0.336);
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    text-wrap: nowrap;
}

.section-chat .section-medias.open{
    width: 400px;
}

.section-chat .section-medias .top-section{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgba(29, 25, 51, 0.336); */
}

















#addRoomModal .modal-header{
    background-color: var(--main-bg-color);
    color: white;
}

#addRoomModal .modal-body{
    background-color: aliceblue;
}




.form-add-room .image-input{
    height: 300px;
    width: 250px;
    border: 2px var(--main-bg-color) dashed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-add-room .image-input .btn-delete{
    position: absolute;
    top: -10px;
    right: -10px;
    border: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-add-room .image-input .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(11, 0, 49, 0.3);
    position: absolute;
    top: 0;
    border: 0;
    opacity: 0;
    transition: 0.2s ease opacity;
}

.form-add-room .image-input .overlay:hover{
    opacity: 1;
}

.form-add-room .image-input img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.form-add-room > div:nth-child(2){
    border: 2px var(--main-bg-color) dashed;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-add-room > div:nth-child(2) button{
    width: auto;
}

.form-add-room > div:nth-child(2) input{
    background-color: rgb(28, 28, 51);
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
}

.form-add-room > div:nth-child(2) input::placeholder{

    color: rgb(179, 179, 179);
   
}


