/* mettre en full screen */

.container-views-admin.remove-border-radius{
    border-top-left-radius: 0;
    height: 100%;
    padding-top: 0;
    /* background-color: rgb(187, 211, 211); */
}

.sidebar-page-admin.hide{
    position: absolute;
    top: 0;
    left: -320px;
    width: 272px !important;
}

.sidebar-page-admin.open{
    left: 0;
    
}

.menu-button-toggle.show{
    display: inline-block;
}

.topBar-item-section.reduce-padding, .searchBar.reduce-padding{
    padding: 0 10px !important;
}

.topBar-page-admin.toggleable{
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 11;
    transition: top 0.2s ease-in-out;
}

.topBar-page-admin.toggleable.show{
    top: 0;
}

.button-toggle-top-bar{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    transition: top 0.2s ease-in-out;

    padding: 1px 15px;
    font-size: 0.5rem;
    border: 0;
    background-color: rgba(0, 0, 0, 0.185);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-toggle-top-bar.fall{
    top: 60px;
}

.container-views-admin.dismiss-padding{
    padding: 0;
}

/* mettre en full screen */

.subjects{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    background-color: var(--main-bg-color);
}

.subjects .first-section{
    height: 100%;
    width: 400px;
    background-color: #eff3f6;
    position: relative;

    display: flex;
    flex-direction: column;

}

.subjects .first-section .add-room-button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(231, 114, 36);
    color: white;
    border-radius: 50%;
    z-index: 5;
}

.subjects .first-section .add-room-button:hover{
    background-color: rgb(194, 99, 35);
}  

.subjects .first-section .search-room{
    margin-top: 15px;
    background-color: var(--main-bg-color);
    border-radius: 7px;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 0.8rem;
    color: white;
}

.subjects .first-section .search-room input{
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 0.8rem;
    color: white;
    width: 100%;
    
}

.subjects .first-section .liste-rooms{
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

/* .subjects .first-section .liste-rooms::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.subjects .first-section .liste-rooms::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
} */

.subjects .first-section .liste-rooms::-webkit-scrollbar {
    width: 0px; /* width of the entire scrollbar */
}

.subjects .first-section .liste-rooms::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

.subjects .first-section .liste-rooms::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 2px solid rgb(218, 218, 218); /* creates padding around scroll thumb */
}

.subjects .first-section .liste-rooms .liste-rooms-item{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgb(209, 209, 209);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    /* background-color: rgb(255, 230, 206); */
}

.subjects .first-section .liste-rooms .liste-rooms-item:hover{
    background-color: rgb(255, 248, 240);
}

.subjects .first-section .liste-rooms .liste-rooms-item.active{
    background-color: bisque;
}

.subjects .first-section .liste-rooms .liste-rooms-item.active::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0;
    top: 0;
    background-color: rgb(231, 114, 36);
}

.subjects .first-section .liste-rooms .liste-rooms-item h6{
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subjects .first-section .liste-rooms .liste-rooms-item p{
    font-size: 0.8rem;
    margin: 0;
    color: rgb(66, 66, 66);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.subjects .first-section .liste-rooms .liste-rooms-item img{
   width: 45px;
   height: 45px;
   border-radius: 50%;
    
}



.subjects .second-section{
    height: 100%;
    width: calc(100% - 400px);
    background-color: #eff3f6;
}


.section-chat{
    width: 100%;
    height: 100%;
}